* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgba(48, 16, 255, 1) 0%,
    rgba(100, 115, 255, 1) 100%
  );
}

/* container - title / board */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 26px;
}

.todo-board {
  background-color: whitesmoke;
  width: 95vw;
  height: 85vh;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-wrap: wrap;
  position: relative;
  border: 20px solid #cd6133;
  /* overflow 안에 element 밖으로 나가도 됨 */
}

/* post it 하나 */
.todo-app {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 300px;
  min-height: 300px;
  /* background: #161a2b; */
  background: #ffd20c;
  text-align: center;
  /* margin: 15px; */
  border-radius: 10px;
  padding-bottom: 32px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: unset;
}

.todo-app:hover {
  box-shadow: 0 0 10px 0 darkgray;
}
/* 
보라색 5d0cff
주황색 ff7614
하늘색 149fff
분홍색 fa0087
노란색 ffd20c
*/

/* editing block */
/* .edit-block {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  min-height: 100%;
  background: #aaa;
  text-align: center;
  border-radius: 10px;
  position: absolute;
} */

.plus-icon {
  position: absolute;
  bottom: 8px;
  right: 8px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.minus-icon {
  position: absolute;
  bottom: 8px;
  left: 8px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.edit-icon.postit {
  position: absolute;
  bottom: 8px;
  left: 50px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

.done-icon {
  position: absolute;
  bottom: 8px;
  left: 80px;
  font-size: 25px;
  color: #fff;
  cursor: pointer;
}

h1 {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo-form {
  margin-bottom: 32px;
  resize: none;
}

.todo-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  /* border: 2px solid #5d0cff; */
  border: 2px solid #222;
  outline: none;
  width: 200px;
  background: transparent;
  color: #fff;
  margin-top: 8px;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-btn {
  padding: 16px;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  /* background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  ); */
  background-color: #222;
  color: #fff;
  text-transform: capitalize;
}

.todo-input.edit {
  border: 2px solid #149fff;
}

.todo-btn.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.todo-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  background: linear-gradient(
    90deg,
    rgba(255, 118, 20, 1) 0%,
    rgba(255, 84, 17, 1) 100%
  );
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.todo-row:nth-child(4n + 1) {
  background: linear-gradient(
    90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%
  );
}

.todo-row:nth-child(4n + 2) {
  background: linear-gradient(
    90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%
  );
}

.todo-row:nth-child(4n + 3) {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #fff;
}

.edit-icon {
  color: #fff;
}

.menu {
  font-size: 14px;
  background-color: #fff;
  border-radius: 2px;
  padding: 5px 0 5px 0;
  width: 150px;
  height: auto;
  margin: 0;
  /* use absolute positioning  */
  position: absolute;
  list-style: none;
  box-shadow: 0 0 20px 0 #ccc;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.menu li {
  cursor: context-menu;
}

.menu li:hover {
  background-color: #aaa;
}

/* Modal - css 가져옴 */
.modal {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
}
.modal button {
  outline: none;
  cursor: pointer;
  border: 0;
}
.modal > section {
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
  border-radius: 0.3rem;
  background-color: #fff;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-show 0.3s;
  overflow: hidden;
}
.modal > section > header {
  position: relative;
  padding: 16px 64px 16px 16px;
  background-color: #f1f1f1;
  font-weight: 700;
}
.modal > section > header button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
  color: #999;
  background-color: transparent;
}
.modal > section > main {
  padding: 16px;
  border-bottom: 1px solid #dee2e6;
  border-top: 1px solid #dee2e6;
}
.modal > section > footer {
  padding: 12px 16px;
  text-align: right;
}
.modal > section > footer button {
  padding: 6px 12px;
  color: #fff;
  background-color: #6c757d;
  border-radius: 5px;
  font-size: 13px;
}
.modal.open {
  display: flex;
  align-items: center;
  /* 팝업이 열릴때 스르륵 열리는 효과 */
  animation: modal-bg-show 0.3s;
}
@keyframes modal-show {
  from {
    opacity: 0;
    margin-top: -50px;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes modal-bg-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
